html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    background-image: url(imagens/imagemfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
  }

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff;
    background-color: #ffff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.img-game-over {
    height: 50%;
}

.container .row .col {
    text-align: center;
}

.container .row .button {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 23%;
    margin-bottom: 10px;
}

